@page "/Impressum"
@inject AppState appState;
<PageTitle>Impressum</PageTitle>




    <div class="container container-center">
        <h1 class="impressum-impressum-main-header">Impressum</h1>

         <div class="impressum__content"> 
            <p>Verantwortlich für diese Seite ist:</p>
              <p>
           
                <span id="s3-t-firma">Stadt Frankfurt am Main - Personal- und Organisationsamt</span>
                <span id="s3-t-ansprechpartner">11.52 - Personalverwaltungsverfahren in PePo - Entwicklung und Betreuung</span>
                <span id="s3-t-strasse">Münchener Straße 1</span>
                <span id="s3-t-plz">60329 Frankfurt am Main</span>
                
                <span id="s3-t-telefon">Tel.: 069 212 - 36343</span>
                <span id="s3-t-mail">E-Mail: <a href="mailto:pepo.hotline@stadt-frankfurt.de">pepo.hotline@stadt-frankfurt.de</a></span>
               </p>            
        </div> 

        <div class="impressum-footer">
            <p>Stadt Frankfurt am Main 11.52  <br /> <span id="s3-t-version">Version: @appState.VersionsNummer</span></p>
            <p><a href="/">Zurück zur Startseite</a></p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
